.hero{
    margin-top:10px !important;
}
.title_input{
    margin-bottom: 5px !important;;
}
.add_news_button_box{
    margin-top:5px !important;
}

.card_block{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}